<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-jshare"
  version="1.0.0">

    <name>JShare Cordova Plugin</name>
    <description>JShare for Cordova plugin</description>
    <author>JiGuang</author>
    <keywords>share</keywords>
    <license>MIT License</license>

    <preference name="APP_KEY" />

    <js-module src="www/JSharePlugin.js" name="JShare">
        <clobbers target="jshare"/>
    </js-module>

    <engines>
        <engine name="cordova" version=">=5.0" />
    </engines>

    <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="JSharePlugin">
          <param name="android-package" value="cn.jiguang.share.JSharePlugin" />
        </feature>
      </config-file>

      <config-file name="AndroidManifest.xml" parent="/manifest">
        <!-- Required -->
        <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.WAKE_LOCK" />
        <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.VIBRATE" />
        <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.WRITE_SETTINGS" />
        <uses-permission android:name='android.permission.ACCESS_WIFI_STATE' />
      </config-file>

      <config-file name="AndroidManifest.xml" parent="/manifest/application">
        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jiguang.share.android.ui.JiguangShellActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- Optional QQ分享回调-->
            <!-- scheme为“tencent”前缀再加上QQ开发者应用的appID；例如appID为123456，则scheme＝“tencent123456” -->
            <intent-filter>
              <data android:scheme="tencent+appID" />
              <action android:name="android.intent.action.VIEW" />

              <category android:name="android.intent.category.BROWSABLE" />
              <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Optional 新浪微博分享回调 -->
            <intent-filter>
              <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
              <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Optional 微信分享回调,wxapi必须在包名路径下，否则回调不成功-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true" />

        <!-- Required. For publish channel feature.
             JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。
             例如:
              发到 Google Play 的 APK 可以设置为 google-play;
              发到其他市场的 APK 可以设置为 xxx-market。
              目前这个渠道统计功能的报表还未开放。 -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />

        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="$APP_KEY" />
      </config-file>

      <source-file src="src/android/libs/jshare-android-v1.0.0.jar" target-dir="libs"/>
      <source-file src="src/android/libs/jshare-qq-android-v1.0.0.jar" target-dir="libs"/>
      <source-file src="src/android/libs/jshare-sina-android-v1.0.0.jar" target-dir="libs"/>
      <source-file src="src/android/libs/jshare-wechat-android-v1.0.0.jar" target-dir="libs"/>

      <source-file src="src/android/WXEntryActivity.java" target-dir="/src/"/>
    </platform>

    <platform name="ios">
    </platform>
</plugin>
